@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.left {
  background-color: rgb(163, 180, 196);
}
.leftReg {
  /* background-color: #7c3b49; */
  background-color: #e5a782 ;
}
.right {
  background-color: whitesmoke;
}
.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexcolst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container {
  height: 100vh;
  width: 100%;
}
.parent {
  height: 70vh;
  width: 100%;
  /* margin: 150px; */
  /* margin-inline:auto ;     */
  background-color: white;
  overflow: hidden;
  padding-left: 150px;
}
.brl {
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  margin-left: 150px;
}
.brr {
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  margin-right: 150px;
}
.backgroundImage {
  background-image: url("https://images.pexels.com/photos/379960/pexels-photo-379960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}
.backgroundImageReg {
  background-image: url("https://images.pexels.com/photos/15767414/pexels-photo-15767414/free-photo-of-builders-renovating-residential-building.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}
.login-forms {
  width: 350px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.th {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.tp {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.padbt{
  padding-bottom: 2rem;
}
.padbt1{
  padding-bottom: 0.5rem;
}
.productdisplay{
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  
}
.d{
  
  height: 100vh;
  width: 50%;
  /* margin-inline: auto; */
}
.proimg{
  /* height: ; */
  margin-inline: auto;
  /* object-position:-160px ; */
  /* object-fit: contain; */
}
.underline{
  text-decoration: underline;
}
.ProductCart{
  width: 100vw;

}
.marl{
  margin: 0px 60px ;
}
.maxwidth{
  width: 100%;
  
}