@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main_nav {
  width: 100%;
  height: 5rem;
  background-color: #1a4368;
  font-family: "Poppins", sans-serif;
  color: #fff;
  position: fixed;
  top: 0px;
  z-index:1;



}
.Carousel{
    margin-top: 5rem;


}
.img{
    border-radius: 50px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.flex0{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.padb{
    padding-bottom:15px;
}
.padl{
    padding-left: 20px;
}
.pad2{
    padding-left: 2.5rem;
}
.searchBox{
    width: 400px;
    scale: 1.3;
}
.text_h0{
    font-size: 2.5rem;
}
.text_h{
    font-size: 2rem;
}
.text_h2{
    font-size: 1.5rem;
}
.text_p{
    font-size: 1.2rem;
}

.imgcar{
    width: 100%;
    margin-inline:auto ;
}
.main_card{
    width: 100%;
    height: 100%;
}
.cardsdiv{
    border: 3px solid #111;
    height: 400px;
    width: 600px;
    margin: 40px 20px ;
    border-radius: 20px;
    
}
.cardsbranch{
    border: 3px solid #111;
    height: 400px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
}
.footer_main{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 50px 0px;
}
li{
    list-style: none;
    font-size: 1.2rem;
}
.flex1 {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start ;
    width: 50%;
}
.text_c{
    text-align: center;
}
.logo{
    width: 300px;
}
.grad{
    background-image:linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%);
}
.pad{
    padding:25px ;
}
.c{
    text-align: center;
}